
PDFReaderApp.xcodeproj/project.xcworkspace/xcuserdata/dmytroskorokhod.xcuserdatad/UserInterfaceState.xcuserstate
PDFReaderApp.xcodeproj/project.xcworkspace/xcuserdata/dmytroskorokhod.xcuserdatad/UserInterfaceState.xcuserstate
