<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.dintegralas.pdfscannerpremium.yearly</key>
	<string>com.dintegralas.pdfscannerpremium.yearly</string>
	<key>com.dintegralas.pdfscannerpremium.monthly</key>
	<string>com.dintegralas.pdfscannerpremium.monthly</string>
</dict>
</plist>
